[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
xmltodict = "*"
notebook = "*"
python-dotenv = "*"
pandas = "*"
sqlalchemy = "*"
pymysql = "*"
aiohttp = "*"
aiomysql = "*"
mysql-connector-python = "*"

[dev-packages]

[requires]
python_version = "3.12"
